@model TheLearningHub_Fitness_Center_Management.Models.Paidplan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Paidplan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class="col-sm-10">
            <img src=@Url.Content("~/Images/" + Model.ImagePath) asp-append-version="true" style="border-radius:20%;" width="100" height="100" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlanId" class="btn btn-warning btn-sm">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
