@model TheLearningHub_Fitness_Center_Management.Models.HomePageContent

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HomePageContent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackgroundTitle1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackgroundTitle1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackgroundDesc1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackgroundDesc1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackgroundImagePath1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackgroundImagePath1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourselTextTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourselTextTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourselDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourselDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourselItemsTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourselItemsTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourselItemsDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourselItemsDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackgroundTitle2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackgroundTitle2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackgroundDesc2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackgroundDesc2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackgroundImagePath2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackgroundImagePath2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainerTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainerTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainerDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainerDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesDesc1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesDesc1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesImagePath2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesImagePath2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesDesc2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesDesc2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterTitleDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterTitleDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterEmail)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HomePageId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
