@{
    Layout = "~/Views/Shared/HomeLayout.cshtml";
    ViewData["Title"] = "Index";
    
    var BackgroundImagePath1 = ViewBag.BackgroundImagePath1;
    
    var BackgroundImagePath2 = ViewBag.BackgroundImagePath2;
    
    var ServiceImagePath2 = ViewBag.ServiceImagePath2;

    var BACKGROUND_TITLE1 = ViewBag.BACKGROUND_TITLE1;
    
    var BACKGROUND_DESC1 = ViewBag.BACKGROUND_DESC1;

    var COURSEL_TEXT_TITLE = ViewBag.COURSEL_TEXT_TITLE;

    var COURSEL_DESC = ViewBag.COURSEL_DESC;

    var COURSEL_ITEMS_TITLE = ViewBag.COURSEL_ITEMS_TITLE;

    var COURSEL_ITEMS_DESC = ViewBag.COURSEL_ITEMS_DESC;

    var BACKGROUND_TITLE2 = ViewBag.BACKGROUND_TITLE2;

    var BACKGROUND_DESC2 = ViewBag.BACKGROUND_DESC2;

    var TRAINER_TITLE = ViewBag.TRAINER_TITLE;

    var TRAINER_DESC = ViewBag.TRAINER_DESC;

    var SERVICES_TITLE = ViewBag.SERVICES_TITLE;

    var SERVICES_DESC1 = ViewBag.SERVICES_DESC1;

    var SERVICES_DESC2 = ViewBag.SERVICES_DESC2;

}
<div id="homeSection"
     style="background-image: url('@Url.Content("~/Images/" + (string.IsNullOrEmpty(ViewBag.BackgroundImagePath1) ? "default.jpg" : ViewBag.BackgroundImagePath1))');
            background-size: cover;
            background-position: center;
            height: 400px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                <h1 class="mb-3">@BACKGROUND_TITLE1</h1>
                <p class="lead mx-auto desc mb-5">@BACKGROUND_DESC1</p>
                <p class="text-center">
                    <a href="~/HomeDesign/#" class="btn btn-outline-white py-3 px-5">Get Started</a>
                </p>
            </div>
        </div>
    </div>
</div>


        <div class="site-section">
            <div class="container">

                <div class="row justify-content-center text-center mb-5">
                    <div class="col-md-8 section-heading">
                        <span class="subheading">Stay Healthy</span>
                <h2 class="heading mb-3">@COURSEL_TEXT_TITLE</h2>
                        <p>
                            @COURSEL_DESC
                        </p>
                    </div>
                </div>
                @*Change Slider here admin can upload Slider images in home*@
                <!-- Slider -->

                    <div class="slide">
                        <div class="ftco-feature-1">
                            <span class="icon flaticon-stationary-bike"></span>
                            <div class="ftco-feature-1-text">
                                <h2>@COURSEL_ITEMS_TITLE</h2>
                                <p>@COURSEL_ITEMS_DESC</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>




<div Class="bgimg"
     style="background-image: url('@Url.Content("~/Images/" + (string.IsNullOrEmpty(ViewBag.BackgroundImagePath2) ? "default.jpg" : ViewBag.BackgroundImagePath2))');
            background-size: cover;
            background-position: center;
            height: 400px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-7">
                        <h2 class="">@BACKGROUND_TITLE2</h2>
                        <p>@BACKGROUND_DESC2 </p>
                    </div>
                </div>
            </div>
        </div>




        <div class="site-section" id="trainer-section">
            <div class="container">
                <div class="row justify-content-center text-center mb-5" data-aos="fade-up">
                    <div class="col-md-8  section-heading">
                        <span class="subheading">Trainer</span>
                        <h2 class="heading mb-3">@TRAINER_TITLE</h2>
                        <p>
                            @TRAINER_DESC </p>
                    </div>
                </div>
                @*edit the trainers info to be dynamically taken from the database*@
                <div class="row">
                    <div class="col-lg-3 mb-4 mb-lg-0 col-md-6 text-center" data-aos="fade-up" data-aos-delay="">
                        <div class="person">
                            <img src="~/HomeDesign/images/person_1.jpg" alt="Image" class="img-fluid">
                            <h3>Justin Daniel</h3>
                            <p class="position">Trainer</p>
                            <p>
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                                texts.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-4 mb-lg-0 col-md-6 text-center" data-aos="fade-up" data-aos-delay="100">
                        <div class="person">
                            <img src="~/HomeDesign/images/person_3.jpg" alt="Image" class="img-fluid">
                            <h3>Matthew Davidson</h3>
                            <p class="position">Trainer</p>
                            <p>
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                                texts.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-4 mb-lg-0 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="person">
                            <img src="~/HomeDesign/images/person_2.jpg" alt="Image" class="img-fluid">
                            <h3>Matthew Davidson</h3>
                            <p class="position">Trainer</p>
                            <p>
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                                texts.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-4 mb-lg-0 col-md-6 text-center" data-aos="fade-up" data-aos-delay="300">
                        <div class="person">
                            <img src="~/HomeDesign/images/person_4.jpg" alt="Image" class="img-fluid">
                            <h3>Matthew Davidson</h3>
                            <p class="position">Trainer</p>
                            <p>
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                                texts.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="site-section" id="services-section">
            <div class="container">
                <div class="row justify-content-center text-center mb-5" data-aos="fade-up">
                    <div class="col-md-8  section-heading">
                        <span class="subheading">Fitness Services</span>
                        <h2 class="heading mb-3">@SERVICES_TITLE</h2>
                        <p>
                            @SERVICES_DESC1
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="">
                        <div class="ftco-feature-1">
                            <span class="icon flaticon-fit"></span>
                            <div class="ftco-feature-1-text">
                                
                                <p>@SERVICES_DESC2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="ftco-feature-1">
                            <span class="icon flaticon-gym-1"></span>
                            <div class="ftco-feature-1-text">
                                <h2>Join Club</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae tenetur numquam sunt sequi similique.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="ftco-feature-1">
                            <span class="icon flaticon-gym"></span>
                            <div class="ftco-feature-1-text">
                                <h2>Gym Fitness</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam fuga, blanditiis. Possimus, error, deserunt.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="">
                        <div class="ftco-feature-1">
                            <span class="icon flaticon-vegetables"></span>
                            <div class="ftco-feature-1-text">
                                <h2>Eat Vegie</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ullam tempore aliquam dolores quos.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="ftco-feature-1">
                            <span class="icon flaticon-fruit-juice"></span>
                            <div class="ftco-feature-1-text">
                                <h2>Fruit Juices</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic aut libero, doloribus. Magni, nihil.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="ftco-feature-1">
                            <span class="icon flaticon-stationary-bike"></span>
                            <div class="ftco-feature-1-text">
                                <h2>Body Warmup</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat dolorem debitis assumenda beatae quis.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="site-section bg-light contact-wrap" id="contact-section">
            <div class="container">

                <div class="row justify-content-center text-center mb-5">
                    <div class="col-md-8  section-heading">
                        <span class="subheading">Get In Touch</span>
                        <h2 class="heading mb-3">Contact Us</h2>
                        <p>
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                            texts.
                        </p>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <form method="post" data-aos="fade">
                            <div class="form-group row">
                                <div class="col-md-6 mb-3 mb-lg-0">
                                    <input type="text" class="form-control" placeholder="First name">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Last name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Subject">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <textarea class="form-control" id="" cols="30" rows="10"
                                              placeholder="Write your message here."></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">

                                    <input type="submit" class="btn btn-primary py-3 px-5 btn-block" value="Send Message">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>