@model TheLearningHub_Fitness_Center_Management.Models.Contactu

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Contactu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Msg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Msg)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContactId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
