@model TheLearningHub_Fitness_Center_Management.Models.Class

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classtime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classtime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classdesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classdesc)
        </dd>
        <dt class="col-sm-2">
            Class Image
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Imagepath))
            {
                <img src="~/Images/@Model.Imagepath" alt="Class Image" style="max-width: 200px; max-height: 200px;" />
            }
            else
            {
                <span>No image uploaded</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Fname)
        </dt>
        <dd class="col-sm-10">
            @Model.User?.Fname @Model.User?.Lname
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Classid" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
