@model IEnumerable<TheLearningHub_Fitness_Center_Management.Models.Class>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Classname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classdesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagepath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Classname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classdesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagepath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Classid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Classid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Classid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
